<HTML>
	<HEAD>
		<TITLE>Delete Contents of Database</TITLE>
	</HEAD>
	<BODY >
		<H1>Delete Contents of Database</H1>
		
		<p><%= @test.results['result'] %></p>
		<p> <A href="/Test/InitDB">Load Database</p>
	</BODY>
</HTML>
